{% extends "public/templates/public_template.html" %}

{% block title %}sign up{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">

      <h1>Check in</h1>
      <hr>

      <form action="/sign-up-cookie-example" method="POST">

        <div class="form-group">
          <label>Participant Username</label>
          <input class="form-control" type="text" name="username">
          <label>Password</label>
          <input class="form-control" type="text" name="password">
        </div>

        <button type="submit" class="btn btn-primary">Sign in</button>

        {% if feedback %}
      	<p class="text-danger float-right">{{ feedback }}</p>
      	{% endif %}
      </form>

    </div>
  </div>
</div>

{% endblock %}
